<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Error</title>
</head>
<body>
    {{>header}}
    <h1 style="color:grey;">{{errorTitle}}</h1>
    <p>{{helpText}}</p>
    {{>footer}}
</body>
</html>